.men{
    text-align: center;
    padding-top: 40px;
}
.men1{
    padding-top: 40px;
    text-align: center;
    
    
}
main>.container{
    padding-top: 40px;
}

.men2{
    padding-top: 40px;
}
.card-group{
    padding-top: 40px;
    
}